*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background: #33383d;
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: monospace;
  color: #c0c0c0;
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  flex: 1;
  margin: 0;
}

.error {
  color: red;
  border: 1px solid;
}

.info {
  color: #03a9f4;
  border: 1px solid ;
}

.warn {
  color: orange;
  border: 1px solid ;
}

.null {
  color: dimgrey;
  border: 1px solid ;
}

console_log_item {
  padding: 0.5em 1em;
  margin: 5px;
  display: flex;
  flex-direction: column;
}